<div class="preloader">
    <div class="preloader_image"></div>
</div>

<!-- search modal -->
<div class="modal" tabindex="-1" role="dialog" aria-labelledby="search_modal" id="search_modal">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <div class="widget widget_search">
        <form method="get" class="searchform search-form" action="http://webdesign-finder.com/">
            <div class="form-group">
                <input type="text" value="" name="search" class="form-control" placeholder="Search keyword" id="modal-search-input">
            </div>
            <button type="submit" class="btn">Search</button>
        </form>
    </div>
</div>

<!-- Unyson messages modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="messages_modal">
    <div class="fw-messages-wrap ls p-normal">
        <!-- Uncomment this UL with LI to show messages in modal popup to your user: -->
        <!--
    <ul class="list-unstyled">
        <li>Message To User</li>
    </ul>
    -->

    </div>
</div><!-- eof .modal -->

<!-- wrappers for visual page editor and boxed version of template -->
<div id="canvas">
    <div id="box_wrapper">

        <!-- template sections -->

        <!--topline section visible only on small screens|-->
        <section class="page_topline ls c-my-20 s-borderbottom">
            <div class="container-fluid">
                <div class="row align-items-center d-flex justify-content-md-end">

                    <div class="col-md-8 top_meta text-center">
                        <ul class="top-includes">

                            <li>
                                <span class="icon-inline">
                                    <span class="icon-styled color-main">
                                        <i class="fa fa-pencil color-main3"></i>
                                    </span>
                                    <span>
                                        contact@datepe.tg
                                    </span>
                                </span>
                            </li>
                            <li>
                                <span class="icon-inline">
                                    <span class="icon-styled color-main">
                                        <i class="fa fa-map-marker color-main2"></i>
                                    </span>
                                    <span>
                                        Lomé-TOGO
                                    </span>
                                </span>
                            </li>
                            <li>
                                <span class="icon-inline">
                                    <span class="icon-styled color-main">
                                        <i class="fa fa-phone"></i>
                                    </span>
                                    <span>
                                        +228 90 09 32 54
                                    </span>
                                </span>
                            </li>

                        </ul>
                    </div>

                    <div class="col-sm-12 col-md-2 text-md-right text-center" style="z-index: 9999;">
                            
                                <span class="icon-inline">
                                    <a routerLink="auth/inscription">
                                        <span class="icon-styled color-main">
                                            <i class="fa fa-user color-main4"></i>
                                        </span>
                                        <span>
                                            Se connecter
                                        </span>
                                    </a>
                                </span>
                    </div>
                </div>
            </div>
        </section>
        <!--eof topline-->

        <!-- header with three Bootstrap columns - left for logo, center for navigation and right for includes-->
        <header class="page_header ds mainheader">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-xl-2 col-lg-3 col-11">
                        <a href="index-2.html" class="logo">
                            <img src="../../assets/images/logo5.png" alt="logo">
                        </a>
                    </div>
                    <div class="col-xl-8 col-lg-5 col-1 text-sm-center">
                        <!-- main nav start -->
                        <nav class="top-nav">
                            <ul class="nav sf-menu">


                                <li routerLinkActive="active">
                                    <a routerLink="accueil">Accueil</a>
                                </li>

                                <!-- blog -->
                                <li routerLinkActive="active">
                                    <a routerLink="salles">Salles</a>
                                </li>
                                <!-- eof blog -->

                                <li routerLinkActive="active">
                                    <a routerLink="proprietaires">Propriétaires</a>
                                </li>
                                <!-- eof features -->

                                <!-- eof pages -->

                                <!-- contacts -->

                                <!-- contacts -->
                                <li routerLinkActive="active">
                                    <a routerLink="contact">Contact</a>
                                </li>
                                <!-- eof contacts -->
                            </ul>


                        </nav>
                        <!-- eof main nav -->
                    </div>
                    <div class="col-xl-2 col-lg-4 text-left text-xl-right d-none d-lg-block">

                        <ul class="top-includes">


                            <li>
                                <span class="social-icons">

                                    <a href="https://www.facebook.com/" class="fa fa-facebook border-icon round color-icon border-icon rounded-icon" title="facebook"></a>
                                    <a href="https://twitter.com/" class="fa fa-twitter border-icon round color-icon border-icon rounded-icon" title="twitter"></a>
                                    <a href="https://www.google.com/" class="fa fa-google border-icon round color-icon border-icon rounded-icon" title="google"></a>

                                </span>
                            </li>


                        </ul>

                    </div>
                </div>
            </div>
            <!-- header toggler -->
            <span class="toggle_menu"><span></span></span>
        </header>