<section class="page_title pt-60 cs s-py-0">
    <div class="container">
        <div class="row">

            <div class="divider-90 d-none d-lg-block"></div>

            <div class="col-md-12 text-center">
                <h1 class="bold">Propriétaire</h1>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item" >
                        <a routerLink = "../../../accueil">Accueil</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink = "../../../proprietaires">Propriétaires</a>
                    </li>
                    <li class="breadcrumb-item active">
                        {{proprio.nomPrenom}}
                    </li>
                </ol>
            </div>

            <div class="divider-50 d-none d-md-block"></div>

        </div>
    </div>
</section>

<section class="ls s-pt-xl-90 s-pb-xl-110 s-pt-lg-60 s-pb-lg-100 s-pt-md-100 s-pb-md-90 s-pt-60 s-pb-70 c-mb-30">
    <div class="container">
        <div class="row">
            <div class="d-none d-lg-block divider-70"></div>
            <div class="col-12">
                <div class="row c-gutter-60">
                    <div class="col-md-12 col-lg-6">
                        <div class="side-item team-single box-shadow content-padding">
                            <div class="item-media">
                                <img alt="img" src="../../assets/images/team/0{{idDeLaRoute+1}}.jpg">

                            </div>
                            <div class="item-content">
                                <h5>

                                    {{proprio.nomPrenom}}
                                </h5>
                                <p class="small-text color-main">
                                    PRESTATAIRE DE SERVICE
                                </p>
                                <span class="social-icons">
                                    <a class="fa fa-facebook border-icon round color-icon border-icon rounded-icon" title="facebook"></a>
                                    <a class="fa fa-twitter border-icon round color-icon border-icon rounded-icon" title="twitter"></a>
                                    <a class="fa fa-google border-icon round color-icon border-icon rounded-icon" title="google"></a>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-6">
                        <!-- tabs start -->
                        <ul class="nav nav-tabs mt-40" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="tab01" data-toggle="tab" href="#tab01_pane" role="tab" aria-controls="tab01_pane" aria-expanded="true">Biographie & Infos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="tab03" data-toggle="tab" href="#tab03_pane" role="tab" aria-controls="tab03_pane">Contacter</a>
                            </li>

                        </ul>
                        <div class="tab-content mb-40">

                            <div class="tab-pane fade show active" id="tab01_pane" role="tabpanel" aria-labelledby="tab01">

                                <h5>Biographie & Infos:</h5>
                                <p>
                                            {{proprio.description}}
                                </p>
                                
                                <div class="progress">
                                    <div class="progress-bar bg-maincolor" role="progressbar" data-transitiongoal="100" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>

                                <span class="small-text">Adresse : </span>  <span ><strong>{{proprio.adresse}}</strong></span>
                                <div class="progress"></div>

                                <span class="small-text">Email : </span>    <span><strong>{{proprio.email}}</strong></span>
                                <div class="progress"></div>

                                <span class="small-text">Téléphone : </span>    <span><strong>{{proprio.numTel}}</strong></span>
                                <div class="progress"></div>

                                <div class="progress">
                                    <div class="progress-bar bg-maincolor3" role="progressbar" data-transitiongoal="100" aria-valuemin="0" aria-valuemax="100"> </div>
                                </div>

                            </div>

                            <div class="tab-pane fade" id="tab03_pane" role="tabpanel" aria-labelledby="tab03">
                                <div *ngIf="isMessageEnvoye" class="alert alert-success" role="alert">
                                    Votre message a été envoyé avec succes
                                </div>

                                <form [formGroup]="contactProprioForm" (ngSubmit)="sendEmail()"
											class="comment-form" novalidate="">
                                    <p class="contact-form-name">

                                        <input formControlName="name" type="text" aria-required="true" size="30" value="" name="name"  id="name" class="form-control" placeholder="Nom" required="">
                                        <span class="help-block" 
                                        *ngIf="!contactProprioForm.get('name').valid && contactProprioForm.get('name').touched">Veuillez renseigner votre nom!
                                        </span>
                                    </p>
                                    <p class="contact-form-email">

                                        <input formControlName="email" type="email" aria-required="true" size="30" value="" name="email" id="email" class="form-control" placeholder="Email" required="">
                                        <span class="help-block"
                                        *ngIf="!contactProprioForm.get('email').valid && contactProprioForm.get('email').touched">Veuillez renseigner votre email!
                                        </span>
                                    </p>
                                    <p class="contact-form-message">
                                        <textarea formControlName="message" aria-required="true" rows="8" cols="45" name="message" id="message" class="form-control" placeholder="Message" required=""></textarea>
                                        <span class="help-block"
                                        *ngIf="!contactProprioForm.get('message').valid && contactProprioForm.get('message').touched">Laissez nous votre mot!
                                        </span>
                                    </p>
                                    <mat-progress-bar *ngIf="isEncoursDEnvoie" mode="query"></mat-progress-bar>
                                    <p class="form-submit">
                                        <button  [disabled]="contactProprioForm.invalid" type="submit" id="submit" name="submit" class="btn btn-maincolor btn-block">Envoyer
                                        </button>
                                    </p>
                                </form>

                            </div>

                        </div>
                        <!-- tabs end-->

                    </div>
                </div>
            </div>

            <div class="d-none d-lg-block divider-20"></div>

        </div>
    </div>
</section>


