<section class="page_title pt-60 cs s-py-0">
    <div class="container">
        <div class="row">

            <div class="divider-90 d-none d-lg-block"></div>

            <div class="col-md-12 text-center">
                <h1 class="bold">Admin</h1>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a routerLink="../../../admin">Admin</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="../../../admin/utilisateurs">Utilisateurs</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Info Utilisateurs
                    </li>
                </ol>
            </div>

            <div class="divider-50 d-none d-md-block"></div>

        </div>
    </div>
</section>

<section class="ls s-pt-xl-90 s-pb-xl-130 s-pt-lg-60 s-pb-lg-120 s-pt-md-100 s-pb-md-90 s-pt-60 s-pb-80">
    <div class="container">
        <div class="d-none d-lg-block divider-70"></div>

        <div class="row c-gutter-60">

            <main class="col-lg-7 col-xl-8">
                <article class="text-center text-md-left vertical-item post type-post status-publish format-standard has-post-thumbnail box-shadow rounded">
                    <div class="item-media post-thumbnail">
                        <a href="blog-single-right.html">
                            <img src="../../../assets/images/events/01.jpg" alt="img">
                        </a>
                    </div><!-- .post-thumbnail -->
                    <div class="item-content">
                        <header class="entry-header">
                            <h5 class="entry-title">
                                <a href="blog-single-right.html" rel="bookmark">
                                    TEPE Amélé Raïssa
                                </a>
                            </h5>
                        </header>
                        <!-- .entry-header -->

                        <div class="entry-content">
                            <p>Short loin pork belly andouille shoulder doner kevin. T-bone drumstick hamburger lion kielbasa flank, burgdoggen corned beef meatloaf. Tri-tip brisket meatball, lion picanha ribs ribeye...</p>
                        
                             <p>  93-76-67-63 </p>
                             <p> Lomé-Agodékè </p>
                             <p>  raissa.tepe@gmail.com</p>
                        </div><!-- .entry-content -->
                       
                    </div>
                </article>

           

            </main>

            <aside class="col-lg-5 col-xl-4">
                <div class="widget widget_apsc_widget"></div>


                <div class="widget widget_search widget_pad_shad">
                    <h3 class="widget-title">search</h3>
                    <form role="search" method="get" class="search-form" action="http://webdesign-finder.com/">
                        <label for="search-form-widget">
                            <span class="screen-reader-text">Search for:</span>
                        </label>
                        <input type="search" id="search-form-widget" class="search-field" placeholder="Search Keyword" value="" name="search">
                        <button type="submit" class="search-submit">
                            <span class="screen-reader-text">Search</span>
                        </button>
                    </form>
                </div>

            </aside>

            <div class="d-none d-lg-block divider-70"></div>
        </div>

    </div>
</section>