<section class="page_title pt-60 cs s-py-0">
    <div class="container">
        <div class="row">

            <div class="divider-90 d-none d-lg-block"></div>

            <div class="col-md-12 text-center">
                <h1 class="bold">Salles</h1>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a routerLink="../accueil">ACCUEIL</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Salles
                    </li>
                </ol>
            </div>

            <div class="divider-50 d-none d-md-block"></div>

        </div>
    </div>
</section>


<section class="ls s-pt-xl-80 s-pb-xl-120 s-pt-lg-40 s-pb-lg-110 s-pt-md-90 s-pb-md-150 s-pt-50 s-pb-130 c-gutter-60">
    <div class="container">
        <div class="row">

            <div class="d-none d-lg-block divider-70"></div>

            <main class="col-lg-7 col-xl-8">
                <div class="columns-2">

                    <p class="woocommerce-result-count">
                        Afficher tous les 23 résultats</p>
                    <form class="woocommerce-ordering" method="get">
                        <select name="orderby" class="orderby">
                            <option value="menu_order" selected="selected">Tri par défaut</option>
                            <option value="popularity">Trier par popularité</option>
                            <option value="rating">Trier par note moyenne</option>
                            <option value="date">Trier par nouveauté</option>
                            <option value="price">Trier par prix: du plus bas au plus élevé</option>
                            <option value="price-desc">Trier par prix: de haut en bas</option>
                        </select>
                    </form>

                    <ul class="products">


                        <li class="product" routerLinkActive="active">
                            <a routerLink="view/1">

                                <img alt="img" src="../../assets/images/shop/05.jpg">

                                <h2>Salle 1</h2>
                                <div class="star-rating">
                                    <span style="width:80%">Rated <strong
                class="rating">4.00</strong> out of 5</span>
                                </div>
                                <span class="price">
                                    <del>
                                        <span>
                                            150.000<span>fcfa</span>
                                        </span>
                                    </del>
                                    <ins>
                                        <span>
                                            120.000<span>fcfa</span>
                                        </span>
                                    </ins>
                                </span>
                            </a>
                            <a rel="nofollow" routerLink="salles/" class="button product_type_simple add_to_cart_button">je reserve</a>
                        </li>
                        <li class="product">
                            <a routerLink="salles/view/1">

                                <img alt="img" src="../../assets/images/shop/05.jpg">

                                <h2>Salle 2</h2>
                                <div class="star-rating">
                                    <span style="width:80%">Rated <strong
                                class="rating">4.00</strong> out of 5</span>
                                </div>
                                <span class="price">
                                    <del>
                                        <span>
                                            150.000<span>fcfa</span>
                                        </span>
                                    </del>
                                    <ins>
                                        <span>
                                            120.000<span>fcfa</span>
                                        </span>
                                    </ins>
                                </span>
                            </a>
                            <a rel="nofollow" routerLink="salles/" class="button product_type_simple add_to_cart_button">je reserve</a>
                        </li>

                    </ul>
                </div>
                <!-- columns 2 -->

                <nav class="woocommerce-pagination">
                    <ul class="page-numbers">
                        <li>
                            <span class="page-numbers current">1</span>
                        </li>
                        <li>
                            <a class="page-numbers" href="shop-right.html">2</a>
                        </li>
                        <li>
                            <a class="next page-numbers" href="shop-right.html">→</a>
                        </li>
                    </ul>
                </nav>

            </main>

            <aside class="col-lg-5 col-xl-4">

                <div class="widget widget_product_search widget_pad_shad">

                    <h3 class="widget-title">Recherche</h3>

                    <form role="search" class="woocommerce-product-search" action="http://webdesign-finder.com/">

                        <label class="screen-reader-text" for="woocommerce-product-search-field-widget">
                            Search for:
                        </label>

                        <input type="search" id="woocommerce-product-search-field-widget" class="search-field" placeholder="Recherche salle" value="" name="search">
                        <input type="submit" value="Search">
                    </form>
                </div>

                <div class="widget woocommerce widget_product_categories widget_pad_shad">
                    <h3 class="widget-title">Categories</h3>
                    <ul class="product-categories">
                        <li class="cat-item cat-parent">
                            <a href="shop-right.html">Soirées d'entreprises / séminaires</a>
                        </li>
                        <li class="cat-item cat-parent">
                            <a href="shop-right.html">Réceptions</a>
                        </li>
                        <li class="cat-item">
                            <a href="shop-right.html">Restaurants</a>
                        </li>
                        <li class="cat-item">
                            <a href="shop-right.html">Hôtels</a>
                        </li>
                        <li class="cat-item">
                            <a href="shop-right.html">Bars</a>
                        </li>
                    </ul>
                </div>

            </aside>

            <div class="d-none d-lg-block divider-70"></div>
        </div>

    </div>
</section>