<section class="page_title pt-60 cs s-py-0">
	<div class="container">
		<div class="row">

			<div class="divider-90 d-none d-lg-block"></div>

			<div class="col-md-12 text-center">
				<h1 class="bold">{{salle.nomSalle}}</h1>
				<ol class="breadcrumb">
					<li class="breadcrumb-item">
						<a routerLink="../../../accueil">ACCUEIL</a>
					</li>
					<li class="breadcrumb-item">
						<a routerLink="../../../salles">Salles</a>
					</li>
					<li class="breadcrumb-item active">
						{{salle.nomSalle}}
					</li>
				</ol>
			</div>

			<div class="divider-50 d-none d-md-block"></div>

		</div>
	</div>
</section>




<section class="ls s-pt-xl-80 s-pb-xl-120 s-pt-lg-40 s-pb-lg-110 s-pt-md-90 s-pb-md-150 s-pt-50 s-pb-130 c-gutter-60">
	<div class="container">
		<div class="row">

			<div class="d-none d-lg-block divider-70"></div>


			<main class="col-lg-7 col-xl-8">

				<div class="vertical-item content-padding box-shadow rounded overflow-hidden">
					<div class="item-media">
						<owl-carousel [options]="{items: 1, dots: true, nav: true}" [items]="iimages" [carouselClasses]="['owl-theme', 'sliding']" >  
							<div class="item" *ngFor="let img of iimages">  
	
							<div   data-margin="0" data-responsive-lg="1" data-responsive-md="1"
								data-responsive-sm="1" data-responsive-xs="1" data-nav="true">
								<a href="{{img}}" class="photoswipe-link" data-width="1170"
									data-height="780">
									<img alt="img" src={{img}}>
								</a>
								
						
							</div>
							</div>
						</owl-carousel>
						
					</div>

				</div>

				<div class="woocommerce-tabs wc-tabs-wrapper">

					<ul class="tabs wc-tabs" role="tablist">
						<li class="description_tab" id="tab-title-description" role="tab"
							aria-controls="tab-description">
							<a href="#tab-description">Description</a>
						</li>
						<li class="additional_information_tab active" id="tab-title-additional_information" role="tab"
							aria-controls="tab-additional_information">
							<a href="#tab-additional_information">Informations </a>
						</li>
						<li class="reviews_tab" id="tab-title-reviews" role="tab" aria-controls="tab-reviews">
							<a href="#tab-reviews">Réserver </a>
						</li>
					</ul>

					<div class="panel wc-tab" id="tab-description" role="tabpanel"
						aria-labelledby="tab-title-description">

						<h2>Description</h2>

						<p>{{salle.description}}</p>
					</div>
					<div class="panel wc-tab" id="tab-additional_information" role="tabpanel"
						aria-labelledby="tab-title-additional_information">

						<h2>Informations</h2>

						<table class="shop_attributes">

							<tbody>
								<tr>
									<th>Lieu</th>
									<td>
										<p>{{salle.lieu}}</p>
									</td>
								</tr>
								<tr>
									<th>Prix</th>
									<td>
										<p>F CFA {{salle.prix}}</p>
									</td>
								</tr>
								<tr>
									<th>Type</th>
									<td>
										<p>{{salle.type}}</p>
									</td>
								</tr>
								<tr>
									<th>Nombre de place</th>
									<td>
										<p>{{salle.nombrePlace}}</p>
									</td>
								</tr>
								<tr>
									<th>Etat de la salle</th>
									<td>
										<p>{{salle.etatSalle}}</p>
									</td>
								</tr>
								<tr>
									<th>Catégorie</th>
									<td>
										<p>{{salle.categorie}}</p>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="panel wc-tab" id="tab-reviews" role="tabpanel" aria-labelledby="tab-title-reviews">
									<h2>Réserver la salle</h2>
										<form action="http://webdesign-finder.com/" method="post" id="commentform"
											class="comment-form" novalidate="">
											<p class="comment-notes">
												<span id="email-notes">Votre adresse email ne sera pas publiée. .</span>
												Les champs requis sont indiqués<span class="required">*</span>
											</p>
											<p class="comment-form-comment">
												<label for="comment">Laissez un mot <span class="required">*</span>
												</label>
												<textarea id="comment" name="comment" cols="45" rows="8"
													aria-required="true" required="">

												</textarea>
											</p>
											<p class="comment-form-author">
												<label for="author">Nom <span class="required">*</span>
												</label>
												<input id="author" name="author" type="text" value="" size="30"
													aria-required="true" required="">
											</p>
											<p class="comment-form-email">
												<label for="email">Email <span class="required">*</span>
												</label> <input id="email" name="email" type="email" value="" size="30"
													aria-required="true" required="">
											</p>
											<p class="form-submit">
												<button name="submit" type="submit" id="submit" class="submit">
													Je demande ma réservation
													</button>

											</p>
										</form>
									<!-- #respond -->

					</div>

				</div>

			</main>



			<aside class="col-lg-5 col-xl-4">

				<div class="widget widget_product_search widget_pad_shad">

					<h3 class="widget-title">Propriétaire</h3>

					<ul class="list-unstyled">
						<li class="media box-shadow rounded">
							<a class="media-image">
								<img alt="img" [src]="salle.image.image1">
							</a>
							<div class="media-body">
								<h4>
									<a href>{{salle.proprio.nomPrenom}}</a>
								</h4>
							</div>
						</li>
						</ul>
				</div>

				<div class="widget woocommerce widget_product_categories widget_pad_shad">
					<h3 class="widget-title">Categories</h3>
					<ul class="product-categories">
						<li class="cat-item cat-parent">
							<a>Soirées d'entreprises / séminaires</a>
						</li>
						<li class="cat-item cat-parent">
							<a>Réceptions</a>
						</li>
						<li class="cat-item">
							<a>Restaurants</a>
						</li>
						<li class="cat-item">
							<a>Hôtels</a>
						</li>
						<li class="cat-item">
							<a>Bars</a>
						</li>
					</ul>
				</div>

			</aside>

			<div class="d-none d-lg-block divider-70"></div>

		</div>
	</div>
</section>