

			<section class="page_title pt-60 cs s-py-0">
				<div class="container">
					<div class="row">

						<div class="divider-90 d-none d-lg-block"></div>

						<div class="col-md-12 text-center">
							<h1 class="bold">Salles</h1>
							<ol class="breadcrumb">
								<li class="breadcrumb-item">
									<a routerLink="../../../accueil">ACCUEIL</a>
								</li>
								<li class="breadcrumb-item">
									<a routerLink="../../../salles">Salles</a>
								</li>
								<li class="breadcrumb-item active">
									Detail salle
								</li>
							</ol>
						</div>

						<div class="divider-50 d-none d-md-block"></div>

					</div>
				</div>
			</section>




			<section class="ls s-pt-xl-80 s-pb-xl-120 s-pt-lg-40 s-pb-lg-110 s-pt-md-90 s-pb-md-150 s-pt-50 s-pb-130 c-gutter-60">
				<div class="container">
					<div class="row">

						<div class="d-none d-lg-block divider-70"></div>

						<main class="col-lg-7 col-xl-8">
							<div class="product">

								<div class="images" data-columns="4">
									<figure>
										<div data-thumb="../../assets/images/shop/05.jpg">
											<a href="../../assets/images/shop/05.jpg">
												<img alt="img" src="../../assets/images/shop/05.jpg" data-caption="" data-src="images/shop/11.jpg" data-large_image="images/shop/11.jpg" data-large_image_width="1000" data-large_image_height="1000">
											</a>
										</div>
										<div data-thumb="../../assets/images/shop/05.jpg">
											<a href="../../assets/images/shop/05.jpg">
												<img alt="img" src="../../assets/images/shop/05.jpg" data-caption="" data-src="images/shop/11_back.jpg" data-large_image="images/shop/11_back.jpg" data-large_image_width="1000" data-large_image_height="1000">
											</a>
										</div>
										<div data-thumb="../../assets/images/shop/05.jpg">
											<a href="../../assets/images/shop/05.jpg">
												<img alt="img" src="../../assets/images/shop/05.jpg" data-caption="" data-src="images/shop/10_back.jpg" data-large_image="images/shop/10_back.jpg" data-large_image_width="1000" data-large_image_height="1000">
											</a>
										</div>
										<div data-thumb="../../assets/images/shop/05.jpg">
											<a href="../../assets/images/shop/05.jpg">
												<img alt="img" src="../../assets/images/shop/05.jpg" data-caption="" data-src="images/shop/10.jpg" data-large_image="images/shop/10.jpg" data-large_image_width="1000" data-large_image_height="1000">
											</a>
										</div>


									</figure>
								</div>

								<div class="summary entry-summary">

									<h1 class="product_title entry-title">SALLE 1</h1>
									<div class="woocommerce-product-rating">
										<div class="star-rating">
											<span style="width:72.6%">Rated <strong class="rating">4.33</strong> out of 5 based on <span class="rating">3</span> customer ratings</span>
										</div>
										<a href="#reviews" class="woocommerce-review-link" rel="nofollow">(<span class="count">Lome</span> la
											belle</a>
									</div>

									<p class="price">
										<span>
											<span>F CFA</span>63 000
										</span>
									</p>
									<div>
										<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum
											tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas
											semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
									</div>

									<form>

										<table class="variations">
											<tbody>
												<tr>
													<td class="label">
														<label for="pa_color">Type de Salle</label>
													</td>
													<td class="value">
														<select id="pa_color" class="wc-default-select" name="attribute_pa_color" data-attribute_name="attribute_pa_color">
															<option value="">Choose an option</option>
															<option value="blue" class="attached enabled">Blue</option>
														</select>
													</td>
												</tr>
												<tr>
													<td class="label">
														<label for="pa_size">Espace</label>
													</td>
													<td class="value">
														<select id="pa_size" class="wc-default-select" name="attribute_pa_size" data-attribute_name="attribute_pa_size">
															<option value="">Choose an option</option>
															<option value="x-small" class="attached enabled">X Small</option>
															<option value="small" class="attached enabled">Small</option>
															<option value="medium" class="attached enabled">Medium</option>
															<option value="large" class="attached enabled">Large</option>
															<option value="x-large" class="attached enabled">X Large</option>
															<option value="xx-large" class="attached enabled">XX Large</option>
															<option value="xxx-large" class="attached enabled">XXX Large</option>
														</select>
														<a class="reset_variations" href="#">Clear</a>
													</td>
												</tr>
											</tbody>
										</table>


										<div class="single_variation_wrap">
											<div>
												<div class="quantity">
													<input type="button" value="+" class="plus">
													<i class="fa fa-angle-up" aria-hidden="true"></i>
													<input type="number" class="input-text qty text" step="1" min="1" max="1000" name="quantity" value="1" title="Qty" size="4">
													<input type="button" value="-" class="minus">
													<i class="fa fa-angle-down" aria-hidden="true"></i>
												</div>
												<button type="submit" class="single_add_to_cart_button button alt">Ajouter au panier</button>
											</div>
										</div>


                                    </form>
                                   


									<div class="product_meta">


										<span class="sku_wrapper">SKU: <span class="sku">N/A</span>
										</span>


										<span class="posted_in">Categories: <a href="shop-right.html" rel="tag">Clothing</a>, <a href="shop-right.html" rel="tag">T-shirts</a>
										</span>
										<span class="tagged_as">Tag: <a href="shop-right.html" rel="tag">premium</a></span>


									</div>


                                </div>
                              
	
								<div class="woocommerce-tabs wc-tabs-wrapper">

									<ul class="tabs wc-tabs" role="tablist">
										<li class="description_tab" id="tab-title-description" role="tab" aria-controls="tab-description">
											<a href="#tab-description">Description</a>
										</li>
										<li class="additional_information_tab active" id="tab-title-additional_information" role="tab" aria-controls="tab-additional_information">
											<a href="#tab-additional_information">Additional information</a>
										</li>
										<li class="reviews_tab" id="tab-title-reviews" role="tab" aria-controls="tab-reviews">
											<a href="#tab-reviews">Reviews (3)</a>
										</li>
									</ul>

									<div class="panel wc-tab" id="tab-description" role="tabpanel" aria-labelledby="tab-title-description">

										<h2>Description</h2>

										<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
											Vestibulum
											tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam
											egestas
											semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
									</div>
									<div class="panel wc-tab" id="tab-additional_information" role="tabpanel" aria-labelledby="tab-title-additional_information">

										<h2>Additional information</h2>

										<table class="shop_attributes">


											<tbody>
												<tr>
													<th>Color</th>
													<td>
														<p>Blue</p>
													</td>
												</tr>
												<tr>
													<th>Size</th>
													<td>
														<p>X Small, Small, Medium, Large, X Large, XX Large, XXX Large</p>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
									<div class="panel wc-tab" id="tab-reviews" role="tabpanel" aria-labelledby="tab-title-reviews">
										<div id="reviews">
											<div id="comments">
												<h2>3 reviews for <span>Ship Your Idea</span>
												</h2>


												<ol class="commentlist">
													<li class="comment even thread-even depth-1" id="li-comment-34">

														<div id="comment-34" class="comment_container">

															<img alt="img" src="https://2.gravatar.com/avatar/babdd787a9577a0e615246ac79cf2826?s=60&amp;d=mm&amp;r=g" srcset="http://2.gravatar.com/avatar/babdd787a9577a0e615246ac79cf2826?s=120&amp;d=mm&amp;r=g 2x" class="avatar avatar-60 photo" height="60" width="60">
															<div class="comment-text">

																<div class="star-rating">
																	<span style="width:80%">Rated <strong
	                                        class="rating">4</strong> out of 5</span>
																</div>
																<p class="meta">
																	<strong>James
											Koster</strong> <span>–</span>
																	<time datetime="2013-06-07T11:43:13+00:00">June 7, 2013
																	</time>
																</p>

																<div class="description">
																	<p>Nice T-shirt, I got one in black. Goes with
																		anything!</p>
																</div>
															</div>
														</div>
													</li>
												
													<li class="comment odd alt thread-odd thread-alt depth-1" id="li-comment-35">

														<div id="comment-35" class="comment_container">

															<img alt="img" src="https://0.gravatar.com/avatar/f0cde930b42c79145194679d5b6e3b1d?s=60&amp;d=mm&amp;r=g" srcset="http://0.gravatar.com/avatar/f0cde930b42c79145194679d5b6e3b1d?s=120&amp;d=mm&amp;r=g 2x" class="avatar avatar-60 photo" height="60" width="60">
															<div class="comment-text">

																<div class="star-rating">
																	<span style="width:80%">Rated <strong
	                                        class="rating">4</strong> out of 5</span>
																</div>
																<p class="meta">
																	<strong>Cobus
											Bester</strong> <span>–</span>
																	<time datetime="2013-06-07T11:55:15+00:00">June 7, 2013
																	</time>
																</p>

																<div class="description">
																	<p>Very comfortable shirt, and I love the graphic!</p>
																</div>
															</div>
														</div>
													</li>
												
													<li class="comment even thread-even depth-1" id="li-comment-36">

														<div id="comment-36" class="comment_container">

															<img alt="img" src="https://1.gravatar.com/avatar/7a6df00789e50714fcde1b759befcc84?s=60&amp;d=mm&amp;r=g" srcset="http://1.gravatar.com/avatar/7a6df00789e50714fcde1b759befcc84?s=120&amp;d=mm&amp;r=g 2x" class="avatar avatar-60 photo" height="60" width="60">
															<div class="comment-text">

																<div class="star-rating">
																	<span style="width:100%">Rated <strong
	                                        class="rating">5</strong> out of 5</span>
																</div>
																<p class="meta">
																	<strong>Stuart</strong>
																	<span>–</span>
																	<time datetime="2013-06-07T13:02:14+00:00">June 7, 2013
																	</time>
																</p>

																<div class="description">
																	<p>Great T-shirt quality, Great Design and Great
																		Service.</p>
																</div>
															</div>
														</div>
													</li>
											
												</ol>


											</div>


											<div id="review_form_wrapper">
										
												       <form>
														
															<p class="comment-form-author">
																<label for="author">Nom <span class="required">*</span>
																</label>
																<input id="author" name="author" type="text" value="" size="30" aria-required="true" required="">
															</p>
															<p class="comment-form-email">
																<label for="email">Email <span class="required">*</span>
																</label> <input id="email" name="email" type="email" value="" size="30" aria-required="true" required="">
															</p>
															<p class="form-submit">
																<input name="Envoyez votre message" type="submit" id="submit" class="submit" value="Submit">

															</p>
														</form>
													
													
												
											</div>

									
									    </div>
                                  
                                    </div>
                                 </div>
              
              
             


		                  
		


								<section class="up-sells upsells products">

									<h2>You may also like</h2>

									<ul class="products">


										<li class="product">
											<a href="shop-product-right.html">
												<span class="onsale">Sale!</span>
												<img alt="img" src="images/shop/07.jpg">
												<h2>Salles 1</h2>
												<div class="star-rating">
													<span style="width:80%">Rated <strong class="rating">4.00</strong> out of 5</span>
												</div>
												<span class="price">
													<span>
														<span>$</span>30.00
													</span>
													–
													<span>
														<span>$</span>35.00
													</span>
												</span>
											</a>
											<a rel="nofollow" href="shop-product-right.html" data-quantity="1" data-product_id="40" data-product_sku="" class="button product_type_variable add_to_cart_button">Select
												options</a>
										</li>
										<li class="product">
											<a href="shop-product-right.html">
												<img alt="img" src="images/shop/06.jpg">
												<h2>Woo Logo</h2>
												<div class="star-rating">
													<span style="width:80%">Rated <strong class="rating">4.00</strong> out of 5</span>
												</div>
												<span class="price">
													<span>
														<span>$</span>35.00
													</span>
												</span>
											</a>
											<a rel="nofollow" href="#" data-quantity="1" data-product_id="60" data-product_sku="" class="button product_type_simple add_to_cart_button ajax_add_to_cart">Add to cart</a>
										</li>

										<li class="product">
											<a href="shop-product-right.html">
												<img alt="img" src="images/shop/08.jpg">
												<h2>Woo Logo</h2>
												<div class="star-rating">
													<span style="width:80%">Rated <strong class="rating">4.00</strong> out of 5</span>
												</div>
												<span class="price">
													<span>
														<span>F CFA</span>66 000
													</span>
												</span>
											</a>
											<a rel="nofollow" href="#" data-quantity="1" data-product_id="60" data-product_sku="" class="button product_type_simple add_to_cart_button ajax_add_to_cart">Add to cart</a>
										</li>
										<li class="product">
											<a href="shop-product-right.html">
												<img alt="img" src="images/shop/28.jpg">
												<h2>Woo Logo</h2>
												<div class="star-rating">
													<span style="width:90%">Rated <strong class="rating">4.50</strong> out of 5</span>
												</div>
												<span class="price">
													<span>
														<span>$</span>4.00
													</span>
												</span>
											</a>
											<a rel="nofollow" href="#" data-quantity="1" data-product_id="60" data-product_sku="" class="button product_type_simple add_to_cart_button ajax_add_to_cart">Add to cart</a>
										</li>


									</ul>

								</section>


								<section class="related products">

									<h2>Related products</h2>

									<ul class="products">


										<li class="product">
											<a href="shop-product-right.html">
												<img alt="img" src="images/shop/05.jpg">
												<h2>Ninja Silhouette</h2>
												<div class="star-rating">
													<span style="width:80%">Rated <strong class="rating">4.00</strong> out of 5</span>
												</div>
												<span class="price">
													<span>
														<span>$</span>35.00
													</span>
												</span>
											</a>
											<a rel="nofollow" href="#" data-quantity="1" data-product_id="56" data-product_sku="" class="button product_type_simple add_to_cart_button ajax_add_to_cart">Add to cart</a>
										</li>


										<li class="product">
											<a href="shop-product-right.html">
												<img alt="img" src="images/shop/04.jpg">
												<h2>Happy Ninja</h2>
												<div class="star-rating">
													<span style="width:60%">Rated <strong class="rating">3.00</strong> out of 5</span>
												</div>
												<span class="price">
													<span>
														<span>$</span>35.00
													</span>
												</span>
											</a>
											<a rel="nofollow" href="#" data-quantity="1" data-product_id="53" data-product_sku="" class="button product_type_simple add_to_cart_button ajax_add_to_cart">Add to cart</a>
										</li>


										<li class="product">
											<a href="shop-product-right.html">
												<img alt="img" src="images/shop/02.jpg">
												<h2>Woo Ninja</h2>
												<div class="star-rating">
													<span style="width:90%">Rated <strong class="rating">4.50</strong> out of 5</span>
												</div>
												<span class="price">
													<span>
														<span>$</span>35.00
													</span>
												</span>
											</a>
											<a rel="nofollow" href="#" data-quantity="1" data-product_id="47" data-product_sku="" class="button product_type_simple add_to_cart_button ajax_add_to_cart">Add to cart</a>
										</li>


										<li class="product">
											<a href="shop-product-right.html">
												<img alt="img" src="images/shop/06.jpg">
												<h2>Woo Logo</h2>
												<div class="star-rating">
													<span style="width:80%">Rated <strong class="rating">4.00</strong> out of 5</span>
												</div>
												<span class="price">
													<span>
														<span>$</span>35.00
													</span>
												</span>
											</a>
											<a rel="nofollow" href="#" data-quantity="1" data-product_id="60" data-product_sku="" class="button product_type_simple add_to_cart_button ajax_add_to_cart">Add to cart</a>
										</li>


										<li class="product">
											<a href="shop-product-right.html">
												<img alt="img" src="images/shop/03.jpg">
												<h2>Woo Ninja #3</h2>
												<div class="star-rating">
													<span style="width:90%">Rated <strong class="rating">4.50</strong> out of 5</span>
												</div>
												<span class="price">
													<span>
														<span>$</span>37.00
													</span>
												</span>
											</a>
											<a rel="nofollow" href="#" data-quantity="1" data-product_id="97" data-product_sku="" class="button product_type_simple add_to_cart_button ajax_add_to_cart">Add to cart</a>
										</li>


									</ul>

								</section>

                            </div>
                        </main>

						
							
                      

                        <aside class="col-lg-5 col-xl-4">

                            <div class="widget widget_product_search widget_pad_shad">
            
                                <h3 class="widget-title">Recherche</h3>
            
                                <form role="search" class="woocommerce-product-search" action="http://webdesign-finder.com/">
            
                                    <label class="screen-reader-text" for="woocommerce-product-search-field-widget">
                                        Search for:
                                    </label>
            
                                    <input type="search" id="woocommerce-product-search-field-widget" class="search-field" placeholder="Recherche salle" value="" name="search">
                                    <input type="submit" value="Search">
                                </form>
                            </div>
            
                            <div class="widget woocommerce widget_product_categories widget_pad_shad">
                                <h3 class="widget-title">Categories</h3>
                                <ul class="product-categories">
                                    <li class="cat-item cat-parent">
                                        <a href="shop-right.html">Soirées d'entreprises / séminaires</a>
                                    </li>
                                    <li class="cat-item cat-parent">
                                        <a href="shop-right.html">Réceptions</a>
                                    </li>
                                    <li class="cat-item">
                                        <a href="shop-right.html">Restaurants</a>
                                    </li>
                                    <li class="cat-item">
                                        <a href="shop-right.html">Hôtels</a>
                                    </li>
                                    <li class="cat-item">
                                        <a href="shop-right.html">Bars</a>
                                    </li>
                                </ul>
                            </div>
            
                        </aside>

						<div class="d-none d-lg-block divider-70"></div>

                </div>
                </div>
			</section>            
