<section class="page_title pt-60 cs s-py-0">
    <div class="container">
        <div class="row">

            <div class="divider-90 d-none d-lg-block"></div>

            <div class="col-md-12 text-center">
                <h1 class="bold">Admin</h1>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a routerLink="../../admin">Admin</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Tableau de bord
                    </li>
                </ol>
            </div>

            <div class="divider-50 d-none d-md-block"></div>

        </div>
    </div>
</section>


<section class="ls s-pt-xl-80 s-pb-xl-120 s-pt-lg-40 s-pb-lg-110 s-pt-md-90 s-pb-md-150 s-pt-50 s-pb-130">
    <div class="container">
        <div class="row">

            <div class="d-none d-lg-block divider-70"></div>

            <main class="col-lg-12">

                <article>
                    <header class="entry-header">
                        <h1 class="entry-title">Mon compte d'administration</h1>
                    </header><!-- .entry-header -->
                    <div class="entry-content">
                        <div class="woocommerce">
                            <nav class="woocommerce-MyAccount-navigation">
                                <ul>
                                    <li class="is-active">
                                        <a routerLink="../dashboard">Tableau de bord</a>
                                    </li>
                                    <li>
                                        <a routerLink="../lessalles">Salles</a>
                                    </li>
                                    <li>
                                        <a routerLink="../utilisateurs">Utilisateurs</a>
                                    </li>
                                    <li>
                                        <a routerLink="../compte">Compte</a>
                                    </li>
                                    <li>
                                        <a routerLink="shop-account-login.html">Se déconnecter</a>
                                    </li>
                                </ul>
                            </nav>


                            <div class="woocommerce-MyAccount-content">

                                <p>Hello <strong>admin</strong> (not <strong>admin</strong>? <a href="shop-account-login.html">Log
                                        out</a>)
                                </p>

                                <p>Depuis le tableau de bord de votre compte, vous pouvez consulter les informations des salles <a href="shop-account-orders.html">Nouvelles salles</a>,
                                    les informations de vos utilisateurs <a href="shop-account-address.html"> Info utilisateurs</a> et les détails des comptes <a href="shop-account-details.html">Compte</a>.
                                </p>

                            </div>
                        </div>
                    </div><!-- .entry-content -->
                </article>

            </main>

            <div class="d-none d-lg-block divider-70"></div>
        </div>

    </div>
</section>