<section class="page_title pt-60 cs s-py-0">
    <div class="container">
        <div class="row">

            <div class="divider-90 d-none d-lg-block"></div>

            <div class="col-md-12 text-center">
                <h1 class="bold">Admin</h1>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="../../admin">Admin</a>
                    </li>
                    <li class="breadcrumb-item active">
                        utilisateurs
                    </li>
                </ol>
            </div>

            <div class="divider-50 d-none d-md-block"></div>

        </div>
    </div>
</section>


<section class="ls s-pt-xl-80 s-pb-xl-120 s-pt-lg-40 s-pb-lg-110 s-pt-md-90 s-pb-md-150 s-pt-50 s-pb-130">
    <div class="container">
        <div class="row">

            <div class="d-none d-lg-block divider-70"></div>

            <main class="col-lg-12">
                <article id="post-1708" class="post-1708 page type-page status-publish hentry">
                    <header class="entry-header">
                        <h1 class="entry-title">Les utilisateurs</h1>
                    </header><!-- .entry-header -->
                    <div class="entry-content">
                        <div class="woocommerce">
                            <nav class="woocommerce-MyAccount-navigation">
                                <ul>
                                    <li>
                                        <a routerLink="../dashboard">Tableau de bord</a>
                                    </li>
                                    <li>
                                        <a routerLink="../lessalles">Salles</a>
                                    </li>
                                    <li class="is-active">
                                        <a routerLink="../utilisateurs">Utilisateurs</a>
                                    </li>
                                    <li>
                                        <a routerLink="../compte">Compte</a>
                                    </li>
                                    <li>
                                        <a routerLink="shop-account-login.html">Se déconnecter</a>
                                    </li>
                                </ul>
                            </nav>


                            <div class="woocommerce-MyAccount-content">

                                <div class="woocommerce-message woocommerce-message--info woocommerce-Message woocommerce-Message--info woocommerce-info">
                                    Liste des utilisateurs
                                </div>

                                <table class="woocommerce-orders-table woocommerce-MyAccount-orders shop_table shop_table_responsive my_account_orders account-orders-table">
                                    <thead>
                                        <tr>
                                            <th class="woocommerce-orders-table__header woocommerce-orders-table__header-order-number"><span class="nobr">#</span></th>
                                            <th class="woocommerce-orders-table__header woocommerce-orders-table__header-order-number"><span class="nobr">Photo</span></th>
                                            <th class="woocommerce-orders-table__header woocommerce-orders-table__header-order-date"><span class="nobr">Nom & Prénon(s)</span></th>
                                            <th class="woocommerce-orders-table__header woocommerce-orders-table__header-order-status"><span class="nobr">Contact</span></th>
                                            <th class="woocommerce-orders-table__header woocommerce-orders-table__header-order-total"><span class="nobr">Adresse</span></th>
                                            <th class="woocommerce-orders-table__header woocommerce-orders-table__header-order-actions"><span class="nobr">Email</span></th>
                                            <th class="woocommerce-orders-table__header woocommerce-orders-table__header-order-actions"><span class="nobr"></span></th>
                                            <th class="woocommerce-orders-table__header woocommerce-orders-table__header-order-actions"><span class="nobr"></span></th>
                                            <th class="woocommerce-orders-table__header woocommerce-orders-table__header-order-actions"><span class="nobr"></span></th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr *ngFor="let proprio of proprios; let i=index" class="woocommerce-orders-table__row woocommerce-orders-table__row--status-processing order">
                                            <td class="woocommerce-orders-table__cell woocommerce-orders-table__cell-order-number" data-title="Order">
                                                <a href="shop-account-order-single.html">
                                                    {{i}} </a>

                                            </td>
                                            <td class="woocommerce-orders-table__cell woocommerce-orders-table__cell-order-number" data-title="Order">
                                                <img src="../../../assets/images/events/01.jpg" alt="logo" >
                                                   

                                            </td>
                                            <td class="woocommerce-orders-table__cell woocommerce-orders-table__cell-order-date" data-title="Date" >
                                            {{proprio.nomPrenom}}
                                            </td>
                                            <td>
                                               {{proprio.numTel}}
                                            </td>
                                            <td>
                                                {{proprio.adresse}}
                                            </td>
                                            <td>
                                                {{proprio.email}}
                                            </td>
                                            <td class="woocommerce-orders-table__cell woocommerce-orders-table__cell-order-actions" data-title="Actions">
                                                <a (click)="onViewProprio(i)"    class="fa fa-info"></a> 
                                            </td>
                                            <td>
                                                <a routerLink="../utilisateurs/edit-utilisateurs/{{i}}" class="fa fa-pencil"></a> 
                                            </td>
                                            <td>
                                                <a routerLink="../utilisateurs/delete-utilisateurs" class="fa-trash"></a> 
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div><!-- .entry-content -->
                </article>

            </main>

            <div class="d-none d-lg-block divider-70"></div>
        </div>

    </div>
</section>