<section class="page_title pt-60 cs s-py-0">
    <div class="container">
        <div class="row">

            <div class="divider-90 d-none d-lg-block"></div>

            <div class="col-md-12 text-center">
                <h1 class="bold">Propriétaires</h1>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a routerLink="index-2.html">Accueil</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Propriétaires
                    </li>
                </ol>
            </div>

            <div class="divider-50 d-none d-md-block"></div>

        </div>
    </div>
</section>

<section class="ls s-pt-xl-90 s-pb-xl-90 s-pt-lg-60 s-pb-lg-80 s-pt-md-100 s-pb-md-130 s-pt-60 s-pb-110 c-mb-30">
    <div class="d-none d-lg-block divider-70"></div>
    <div class="container">
        <div class="row" *ngFor="let proprio of proprios; let i=index">
            <div class="col-12">
                <div class="side-item box-shadow content-padding">
                    <div class="item-media">
                        <img alt="img" src="../../assets/images/team/0{{i+1}}.jpg">
                        <div class="media-links">
                            <a class="abs-link cursorP" title="" (click)="onViewProprio(proprio.key)"></a>
                        </div>
                    </div>
                    <div class="item-content">
                        <h5>
                            <a (click)="onViewProprio(proprio.key)">
                               {{proprio.nomPrenom}}</a>
                        </h5>

                        <p class="small-text color-main">
                            PRESTATAIRE DE SERVICE
                        </p>
                        <p>
                            {{proprio.description | truncatetext:330}}
                        </p>
                        <span class="social-icons">
                            <a class="fa fa-facebook border-icon round color-icon border-icon rounded-icon" title="facebook"></a>
                            <a class="fa fa-twitter border-icon round color-icon border-icon rounded-icon" title="twitter"></a>
                            <a class="fa fa-google border-icon round color-icon border-icon rounded-icon" title="google"></a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-none d-lg-block divider-80"></div>
    </div>
</section>