
			<section class="page_slider">
				<div class="flexslider" data-dots="true" data-nav="true">
					<ul class="slides">
						<li class="cs text-center">
							<img alt="img" src="../../assets/images/slide-bg.jpg">
							<div class="container">
								<div class="row">
									<div class="col-12">
										<div class="intro_layers_wrapper intro_text_bottom">
											<div class="intro_layers">
												<div class="intro_layer intro-content text-left" data-animation="fadeInRight">
													<p class="text-uppercase intro_after_featured_word">Vous souhaitez augmenter <br> la visibilité de votre établissement <br> et ainsi accroître vos réservations ?</p>
													<h3 class="text-uppercase intro_before_featured_word">
														da <br> Tépé
													</h3>
													<p class="text-uppercase intro_after_featured_word">Un lieu adapté <br> à votre prochain <br>événement?</p>
												</div>
												<div class="intro_layer intro-image">
													<img alt="img" src="../../assets/images/member1.png">
												</div>
											</div> <!-- eof .intro_layers -->
										</div> <!-- eof .intro_layers_wrapper -->
									</div> <!-- eof .col-* -->
								</div><!-- eof .row -->
							</div><!-- eof .container-fluid -->
						</li>
						<li class="cs text-center">
							<img alt="img" src="../../assets/images/slide-bg2.jpg">
							<div class="container">
								<div class="row">
									<div class="col-md-12">
										<div class="intro_layers_wrapper intro_text_bottom">
											<div class="intro_layers">
												<div class="intro_layer intro-content text-left" data-animation="fadeInRight">
													<p class="text-uppercase intro_after_featured_word">Location de différents <br> types de salle adaptée <br>à vos événements</p>
													<h3 class="text-uppercase intro_before_featured_word">
														da <br> Tépé
													</h3>
													<p class="text-uppercase intro_after_featured_word">Salle pour <br> soirées d'entreprises/ <br> séminaires/réception/ <br> bars/Hôtel/Restaurant...</p>
												</div>
												<div class="intro_layer intro-image">
													<img alt="img" src="../../assets/images/member2.png">
												</div>
											</div> <!-- eof .intro_layers -->
										</div> <!-- eof .intro_layers_wrapper -->
									</div> <!-- eof .col-* -->
								</div><!-- eof .row -->
							</div><!-- eof .container-fluid -->
						</li>
						<li class="cs text-center">
							<img alt="img" src="../../assets/images/slide-bg3.jpg">
							<div class="container">
								<div class="row">
									<div class="col-md-12">
										<div class="intro_layers_wrapper intro_text_bottom">
											<div class="intro_layers">
												<div class="intro_layer intro-content text-left" data-animation="fadeInRight">
													<p class="text-uppercase intro_after_featured_word">Ne perdez plus de temps <br> Remplissez vos dates <br> Economisez du temps</p>
													<h3 class="text-uppercase intro_before_featured_word">
														da <br> Tépé
													</h3>
													<p class="text-uppercase intro_after_featured_word">Communiquez différemment <br> et donnez à votre établissement <br> une double visibilité</p>
												</div>
												<div class="intro_layer intro-image">
													<img alt="img" src="../../assets/images/member3.png">
												</div>
											</div> <!-- eof .intro_layers -->
										</div> <!-- eof .intro_layers_wrapper -->
									</div> <!-- eof .col-* -->
								</div><!-- eof .row -->
							</div><!-- eof .container-fluid -->
						</li>
					</ul>
				</div> <!-- eof flexslider -->
			</section>

			<section class="s-pt-50 s-pb-50 s-pt-md-90 s-pb-md-90 s-pt-lg-50 s-pb-lg-120 s-pb-xl-100 s-pt-xl-80 ls ms">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<div class="events__title text-center special-heading">
								<p>Les plus plébiscitées..</p>
								<h2>SALLES</h2>
							</div>
							<div class="events">
								<div *ngFor="let salle of salles;let i=index;" class="events__item rounded light-bg">
									<div class="events__content">
										<div class="events__date">
											<div class="date__left color-main">
												<span class="day">#{{i+1}}</span>
											</div>
											<div class="date__right">
												<span class="month">{{salle.nombrePlace}}</span>
												<span class="year">places</span>
											</div>
										</div>
										<div class="events__media">
											<img [src]="salle.image.image1" height="222" width="370" alt="img" />
										</div>
										<h5 class="events__meta">{{salle.nomSalle | truncatetext:5}}</h5>
										<div class="events__link">
											<a (click)="onViewSalle(i)" class="btn btn-maincolor">Plus d'infos</a>
										</div>
									</div>
								</div>
							</div>
							<a routerLink="/salles" class="events__more text-center">Toutes les salles</a>
						</div>
					</div>
				</div>
			</section>

			

			

			
			<section id="section_testimonials" class="s-pt-xl-100 s-pb-xl-90 s-pt-lg-70 s-pb-lg-60 s-pb-md-90 s-pt-md-40 s-pt-0 s-pb-50 ls">
				<div class="container">
					<div class="row">

						<div class="col-md-12">
							<div class="events__title text-center special-heading">
								<p>Rejoignez les meilleurs..</p>
								<h2>PROPRIETAIRES</h2>
							</div>

							<!-- <div class="testimonials-slider owl-carousel" data-autoplay="false" data-loop="true" data-responsive-lg="1" data-responsive-md="1" data-responsive-sm="1" data-nav="false" data-dots="true"> -->
								<owl-carousel [options]="carouselOptions" [items]="proprios" [carouselClasses]="['owl-theme', 'row', 'sliding']">
								<div *ngFor="let proprio of proprios; let i=index" class="quote-item">
									<div class="quote-image">
										<img src="../../assets/images/team/0{{i+1}}.jpg" alt="img">
									</div>
									<blockquote>
										<footer>
											<a routerLink="/proprietaires/view/{{i}}">{{proprio.nomPrenom}}</a>
											<div class="star-rating">
												<span style="width:100%">Rated <strong class="rating">5.00</strong> out of 5</span>
											</div>
										</footer>

										<p>
												{{proprio.description|truncatetext:50}}
										</p>

									</blockquote>
								</div>
								</owl-carousel>
							<!-- </div>.testimonials-slider -->

						</div>
						<div class="divider-150 d-none d-xl-block"></div>
						<div class="divider-60 d-none d-lg-block d-xl-none"></div>
					</div>
				</div>
			</section>
			

			<section class="ds c-gutter-0 container-px-0">
				<div class="container-fluid">
					<div class="row">
						<div class="col-sm-12 text-center">
							<owl-carousel [options]="{items: 5, dots: false}" [items]="iimages" [carouselClasses]="['owl-theme', 'sliding']" >  
								<div class="item" *ngFor="let img of iimages; let i=index">  
		
							<div  data-margin="0" data-responsive-lg="8" data-responsive-md="4" data-responsive-sm="2" data-responsive-xs="1"  data-loop="false">
								
								<a href="{{img}}" class="photoswipe-link" data-width="800" 
								data-height="800">
								<img alt="img" src={{img}}>
								</a>
								
							</div>
								</div>
							</owl-carousel>
						</div>
					</div>
				</div>
			</section>


		