

			<section class="page_slider">
				<div class="flexslider" data-dots="true" data-nav="true">
					<ul class="slides">
						<li class="cs text-center">
							<img alt="img" src="../../assets/images/slide-bg.jpg">
							<div class="container">
								<div class="row">
									<div class="col-12">
										<div class="intro_layers_wrapper intro_text_bottom">
											<div class="intro_layers">
												<div class="intro_layer intro-content text-left" data-animation="fadeInRight">
													<p class="text-uppercase intro_after_featured_word">Vous souhaitez augmenter <br> la visibilité de votre établissement <br> et ainsi accroître vos réservations ?</p>
													<h3 class="text-uppercase intro_before_featured_word">
														da <br> Tépé
													</h3>
													<p class="text-uppercase intro_after_featured_word">Un lieu adapté <br> à votre prochain <br>événement?</p>
												</div>
												<div class="intro_layer intro-image">
													<img alt="img" src="../../assets/images/member1.png">
												</div>
											</div> <!-- eof .intro_layers -->
										</div> <!-- eof .intro_layers_wrapper -->
									</div> <!-- eof .col-* -->
								</div><!-- eof .row -->
							</div><!-- eof .container-fluid -->
						</li>
						<li class="cs text-center">
							<img alt="img" src="../../assets/images/slide-bg2.jpg">
							<div class="container">
								<div class="row">
									<div class="col-md-12">
										<div class="intro_layers_wrapper intro_text_bottom">
											<div class="intro_layers">
												<div class="intro_layer intro-content text-left" data-animation="fadeInRight">
													<p class="text-uppercase intro_after_featured_word">Location de différents <br> types de salle adaptée <br>à vos événements</p>
													<h3 class="text-uppercase intro_before_featured_word">
														da <br> Tépé
													</h3>
													<p class="text-uppercase intro_after_featured_word">Salle pour <br> soirées d'entreprises/ <br> séminaires/réception/ <br> bars/Hôtel/Restaurant...</p>
												</div>
												<div class="intro_layer intro-image">
													<img alt="img" src="../../assets/images/member3.png">
												</div>
											</div> <!-- eof .intro_layers -->
										</div> <!-- eof .intro_layers_wrapper -->
									</div> <!-- eof .col-* -->
								</div><!-- eof .row -->
							</div><!-- eof .container-fluid -->

						<li class="cs text-center">
							<img alt="img" src="../../assets/images/slide-bg3.jpg">
							<div class="container">
								<div class="row">
									<div class="col-md-12">
										<div class="intro_layers_wrapper intro_text_bottom">
											<div class="intro_layers">
												<div class="intro_layer intro-content text-left" data-animation="fadeInRight">
													<p class="text-uppercase intro_after_featured_word">Ne perdez plus de temps <br> Remplissez vos dates <br> Economisez du temps</p>
													<h3 class="text-uppercase intro_before_featured_word">
														da <br> Tépé
													</h3>
													<p class="text-uppercase intro_after_featured_word">Communiquez différemment <br> et donnez à votre établissement <br> une double visibilité</p>
												</div>
												<div class="intro_layer intro-image">
													<img alt="img" src="../../assets/images/member3.png">
												</div>
											</div> <!-- eof .intro_layers -->
										</div> <!-- eof .intro_layers_wrapper -->
									</div> <!-- eof .col-* -->
								</div><!-- eof .row -->
							</div><!-- eof .container-fluid -->
						</li>
					</ul>
				</div> <!-- eof flexslider -->
			</section>
			<section class="s-pt-50 s-pb-50 s-pt-md-90 s-pb-md-90 s-pt-lg-50 s-pb-lg-120 s-pb-xl-100 s-pt-xl-80 ls">
				<div class="container">
					<div class="row">
						<div class="divider-70 d-none d-lg-block"></div>
						<div class="col-12">
							<p class="feature-top text-center">Ce que nous vous proposons:</p>
							<p class="feature-top text-center">
								Remplissez vos périodes de demande  de devis, augmenter votre nombre de dates réservées, offrez vous une visibilité supplémentaire sur internet...</p>
							<div class="owl-carousel features-carousel" data-margin="18" data-responsive-lg="3" data-responsive-md="2" data-responsive-sm="2" data-responsive-xs="1" data-dots="true" data-nav="true" data-loop="true">
								<div class="features-item text-center">
									<div class="features__content">
										<h4 class="features__title color-main3"><a href="#">Promo vaccances</a></h4>
										<p class="features__text">
											-50% sur votre abonnement de 1 an + 3 mois offerts !!
										</p>
									</div>
								</div>
								<div class="features-item text-center">
									<div class="features__content">
										<h4 class="features__title  color-main2"><a href="#">Site</a></h4>
										<p class="features__text">
											www.datepe.tg
										</p>
									</div>
								</div>
								<div class="features-item text-center">
									<div class="features__content">
										<h4 class="features__title  color-main"><a href="#">Offres divers</a></h4>
										<p class="features__text">
											Obtenez jusqu'à 80% de réduction sur la location de vos salles
										</p>
									</div>
								</div>
								<div class="features-item">
									<div class="features__content">
										<h4 class="features__title color-main3"><a href="#">Promo vaccances</a></h4>
										<p class="features__text">
											-50% sur votre abonnement de 1 an + 3 mois offerts !!
										</p>
									</div>
								</div>
								<div class="features-item">
									<div class="features__content">
										<h4 class="features__title  color-main2"><a href="#">Site</a></h4>
										<p class="features__text">
											www.datepe.tg
										</p>
									</div>
								</div>
							</div>
						</div>
						<div class="divider-150 d-none d-xl-block"></div>
						<div class="divider-0 d-none d-lg-block d-xl-none"></div>
					</div>
				</div>
			</section>
			<section class="events s-pt-60 s-pb-50 s-pt-md-100 s-pb-md-90 s-pt-lg-130 s-pb-lg-120 s-py-xl-70 overflow-visible ls ms">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<div class="events__title text-center special-heading">
								<p>Nos salles</p>
								<h2>RESERVATIONS</h2>
							</div>
							<div class="events">
								<div class="events__item rounded light-bg">
									<div class="events__content">
										<div class="events__date">
											<div class="date__left color-main">
												<span class="day">#jour</span>
											</div>
											<div class="date__right">
												<span class="month">Date</span>
												<span class="year">#recup disponibilité</span>
											</div>
										</div>
										<div class="events__media">
											<img src="../../assets/images/square/03.jpg" height="222" width="370" alt="img" />
										</div>
										<h5 class="events__meta">Salle de soirées pour séminaires / d'entreprises </h5>
										<div class="events__link">
											<a href="#" class="btn btn-maincolor">Plus d'infos</a>
										</div>
									</div>
								</div>
								<div class="events__item rounded light-bg">
									<div class="events__content">
										<div class="events__date">
											<div class="date__left color-main2">
												<span class="day">#jour</span>
											</div>
											<div class="date__right">
												<span class="month">Date</span>
												<span class="year">#recup disponibilité</span>
											</div>
										</div>
										<div class="events__media">
											<img src="../../assets/images/square/05.jpg" height="222" width="370" alt="img" />
										</div>
										<h5 class="events__meta">Salle de réceptions</h5>
										<div class="events__link">
											<a href="#" class="btn btn-maincolor2">Plus d'infos</a>
										</div>
									</div>
								</div>
							</div>
							<a href="#" class="events__more text-center">Nos propositions</a>
						</div>
					</div>
				</div>
			</section>

			

			

			
			<section id="section_testimonials" class="s-pt-xl-100 s-pb-xl-90 s-pt-lg-70 s-pb-lg-60 s-pb-md-90 s-pt-md-40 s-pt-0 s-pb-50 ls">
				<div class="container">
					<div class="row">

						<div class="col-md-12">

							<div class="testimonials-slider owl-carousel" data-autoplay="false" data-loop="true" data-responsive-lg="1" data-responsive-md="1" data-responsive-sm="1" data-nav="false" data-dots="true">
								<div class="quote-item">
									<div class="quote-image">
										<img src="../../assets/images/square/01.jpg" alt="img">
									</div>
									<blockquote>
										<footer>
											Salle de fête
											<div class="star-rating">
												<span style="width:100%">Rated <strong class="rating">5.00</strong> out of 5</span>
											</div>
										</footer>

										<p>
											Avec <strong>daTépé</strong> 
											Remplissez vos périodes de demande  de devis, augmenter votre nombre de dates réservées,
											offrez vous une visibilité supplémentaire sur internet  
										</p>

									</blockquote>
								</div>


								<div class="quote-item">
									<div class="quote-image">
										<img src="../../assets/images/square/02.jpg" alt="img">
									</div>
									<blockquote>
										<footer>
											STEVEN BAUER
											<div class="star-rating">
												<span style="width:100%">Rated <strong class="rating">5.00</strong> out of 5</span>
											</div>
										</footer>

										<p>
											Right after moving in <strong>QWorx</strong> became a huge resource for us in our growth efforts. We found that the type of companies here were all in growth mode which creates a really fun energy and a place.
										</p>

									</blockquote>
								</div>


								<div class="quote-item">
									<div class="quote-image">
										<img src="../../assets/images/square/04.jpg" alt="img">
									</div>
									<blockquote>
										<footer>
											STEVEN BAUER
											<div class="star-rating text-center">
												<span style="width:100%">Rated <strong class="rating">5.00</strong> out of 5</span>
											</div>
										</footer>

										<p>
											Right after moving in <strong>QWorx</strong> became a huge resource for us in our growth efforts. We found that the type of companies here were all in growth mode which creates a really fun energy and a place.
										</p>

									</blockquote>
								</div>

							</div><!-- .testimonials-slider -->

						</div>
						<div class="divider-150 d-none d-xl-block"></div>
						<div class="divider-60 d-none d-lg-block d-xl-none"></div>
					</div>
				</div>
			</section>
			

			<section class="ds c-gutter-0 container-px-0">
				<div class="container-fluid">
					<div class="row">
						<div class="col-sm-12 text-center">
							<div class="owl-carousel small-gallery-carousel" data-margin="0" data-responsive-lg="8" data-responsive-md="4" data-responsive-sm="2" data-responsive-xs="1" data-nav="true" data-loop="false">
								<a href="../../assets/images/square/04.jpg" class="photoswipe-link" data-width="800" data-height="800">
									<img src="../../assets/images/square/04.jpg" alt="img">
								</a>
								<a href="../../assets/images/square/05.jpg" class="photoswipe-link" data-width="800" data-height="800" data-iframe="https://www.youtube.com/embed/mcixldqDIEQ">
									<img src="../../assets/images/square/05.jpg" alt="img">
								</a>
								<a href="../../assets/images/square/06.jpg" class="photoswipe-link" data-width="800" data-height="800" data-iframe="//player.vimeo.com/video/1084537">
									<img src="../../assets/images/square/06.jpg" alt="img">
								</a>
								<a href="../../assets/images/square/07.jpg" class="photoswipe-link" data-width="800" data-height="800">
									<img src="../../assets/images/square/07.jpg" alt="img">
								</a>
								<a href="../../assets/images/square/08.jpg" class="photoswipe-link" data-width="800" data-height="800">
									<img src="../../assets/images/square/08.jpg" alt="img">
								</a>
								<a href="../../assets/images/square/09.jpg" class="photoswipe-link" data-width="800" data-height="800">
									<img src="../../assets/images/square/09.jpg" alt="img">
								</a>
								<a href="../../assets/images/square/10.jpg" class="photoswipe-link" data-width="800" data-height="800">
									<img src="../../assets/images/square/10.jpg" alt="img">
								</a>
								<a href="../../assets/images/square/11.jpg" class="photoswipe-link" data-width="800" data-height="800">
									<img src="../../assets/images/square/11.jpg" alt="img">
								</a>
								<a href="../../assets/images/square/01.jpg" class="photoswipe-link" data-width="800" data-height="800">
									<img src="../../assets/images/square/01.jpg" alt="img">
								</a>
							</div>
						</div>
					</div>
				</div>
			</section>


		